:root {
    --azul: #0062ff;
    --laranja: #ff7700;
    --branco: #ffffff --gelo: #f1f1f1 --preto: #00000f
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.toolbar {
    height: 80px;
}

.tab-link {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.toolbar-inner {
    background-color: var(--branco)
}

.toolbar-inner .link {
    flex: 1;
    height: 80px;
    line-height: 25px;
    font-weight: bold;
    color: #00000f
}

.toolbar-inner .link:not(.active) {
    color: rgb(161, 161, 161);
    font-weight: normal;
    color: rgb(0, 104, 249);
}

.toolbar-inner>.link i {
    font-size: 28px;
}

.topo {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #0099cc;
    /* Azul piscina 💧 */
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-nome {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    position: relative;
    color: #0099cc;
    text-transform: uppercase;
  }
  
  .logo-nome::before {
    content: attr(data-text);
    position: absolute;
    top: 2px;     /* ajuste fino */
    left: 2px;    /* ajuste fino */
    z-index: -1;
    color: rgba(0, 0, 0, 0.3);
    filter: blur(3.5px);
    pointer-events: none; /* só por segurança */
  }
  


.logo-nome span {
    background: linear-gradient(to right, #00bcd4, #03a9f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}



//*.titulo-topo {
font-weight: 600;
margin-left: 5%;

}

.titulo-topo span {
    color: #0062ff;
}

/*Botão para notificação*/

.btn-lemb {
    width: 50px;
    height: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    border-radius: 50%;
    border: 1px solid var(--branco);
    font-size: 21px;
    color: var(--branco);

}

/*Notificação para alerta*/

.btn-lemb::before {
    content: attr(data-count);
    background: #ff0000;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 0px;
    margin-right: 5%;

}

/*Botão para resultado 0 não bipar nada vermelho no app*/

.btn-lemb[data-count="0"]::before {
    display: none;
}

a {
    color: #0084ff;
    font-weight: 600;
    text-decoration: none;
}

form {
    padding-top: 10px;
    background: #ffffff;
    padding-bottom: 20px;
    position: relative;
}

input[type="text"] {
    width: 90%;
    height: 45px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 20px;
    background: #e6e7ea;

}

::placeholder {
    color: #b3afaf;
}

.icone-buscar {
    position: absolute;
    top: 0px;
    right: 24px;
    font-size: 28px;
    padding: 13px;

}

.page-content {
    background-color: var(--branco);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block {
    margin-left: 2%;
    margin-right: 2%;
}

.filter-btn {
    width: 100%;
    height: 35px;
    background: none;
    border: 1px solid #000000;
    border-radius: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.row {
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    color: #000000;
}

.item-lista {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebrar para próxima linha */
    gap: 10px;
    /* Espaço entre os itens */
    justify-content: flex-start;
    /* Mantém os itens juntos no topo */
    align-items: stretch;
    /* Faz os itens ocuparem a mesma altura */
}

.item {
    width: calc(50% - 10px);
    /* Ajusta para garantir 2 por linha */
    padding: 6px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    /* Evita que padding/margin alterem a largura */
    display: flex;
    flex-direction: column;
    /* Organiza os elementos dentro do item */
    align-items: center;
    /* Centraliza os itens */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 9px;
    height: 150px;
    border-radius: 10px;
    background: rgb(242, 242, 242);
}

.img-container img {
    max-width: 150px;
    object-fit: cover;
}

.nome-rating {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.color-gray {
    color: gray;
}

.bold {
    font-weight: 800;
}

.infor {
    font-size: 12;
}

@media (min-width:992px) {
    .item-lista {
        flex:30%;
    }
}

@media (min-width:1200px) {
    .item-lista {
        flex:20%;
    }
}